a.fancy {
  background-color: $red;
  border: 0;
  border-radius: 0.2em;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-weight: 600;
  margin: 1em auto 0;
  min-width: 8em;
  padding: 0.5em 1em;
  text-align: center;
  text-decoration: none;
  transition: 0.2s;
  &:hover {
    background-color: $lightest;
    color: $red;
    text-decoration: none;
  }
}

blockquote.fancy {
  border: 0 solid $light;
  border-width: 2px 0;
  font-family: $serif;
  padding: 1em;

  .quote {
    display: inline;
    font-style: italic;
    line-height: 1.6;
    position: relative;

    &::after,
    &::before {
      color: $light;
      font-size: 3em;
      font-style: normal;
      font-weight: bold;
      line-height: 1;
      position: absolute;
    }
    &::before {
      content: '“';
      left: -0.5em;
      top: -0.2em;
    }
    &::after {
      content: '”';
      bottom: -0.45em;
      right: -0.55em;
    }
  }
  .author {
    font-size: 0.8em;
    font-weight: bolder;
  }
}

footer.fancy {
  background-color: $dark;
  background: linear-gradient(to bottom, $dark 0%, $darker 90%);
  color: white;
  font-size: 0.85rem;
  padding: 3em 1em;
  text-align: center;

  a {
    color: white;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

nav.fancy {
  background-color: $red;
  font-size: 0.9em;
  padding: 0.5rem 1rem;
  justify-content: space-between;

  .logo {
    text-align: left;
  }
  .cta {
    text-align: right;
    a {
      color: white;
      font-weight: bold;
    }
  }
}
