/* core.scss */

// colors
$red: #bb0826; $gold: #fcc60a;
$light: #ddd;       $gray: #999;    $dark: #44464a;
$lighter: #eee;     $grayer: #888;  $darker: #333;
$lightest: #f5f5f5; $grayest: #777; $darkest: #222;
// sizes
$break: 40rem;
$inset: 8rem;
$hair: 0.1rem;
// strings
$ico: wfIcons;
$sans:  wfSans, Verdana, sans-serif;
$serif: wfSerif, Georgia, serif;

body.linkedin {

  #Nav {
    background-color: $lighter;
    cursor: none;
    max-height: 1px;
    padding: 0;
    transition: 1s ease-in;

    &:hover {
      margin-bottom: -3px;
      max-height: 3em;
      padding: 30px;
      transition: 0.2s ease-in 0.2s;
    }
  }
}

#App {
  padding: 0;
}

@import '@/scss/_linkedin/custom.scss';
@import '@/scss/_linkedin/fancy.scss';
@import '@/scss/_linkedin/flow.scss';
@import '@/scss/_linkedin/numeral.scss';
@import '@/scss/_linkedin/tooth.scss';
@import '@/scss/_linkedin/linkedin.scss';

.linkedin {
  @import '@/scss/_linkedin/tweaks.scss';
}
