/* flow.scss */

body.linkedin .linkedin {
  overflow: hidden;

  .flow {
    .slidein {
      transform: translateX(calc(50% + 2.5rem + 0.5em)); // (width,offset,char)/2
      @media (min-width: 0) and (max-width: $break) {
        transform: translateX(calc(50% - 0.25rem - 0.5em)); // (width,offset,char)/2
      }
    }
    .slideup {
      opacity: 0;
      transform: translateY(50%);
    }
    .words {
      opacity: 0;
    }
  }
  .flow.ani {
    .slidein {
      transition: all 1s ease-out;
    }
    .slideup {
      transition: opacity 1s ease-out;
    }
    .words {
      transition: opacity 1s ease-out;
    }
  }
  .flow.ini {
    .slidein {
      transform: translateX(0px);
    }
    .slideup {
      opacity: 1;
      transition: opacity 1s ease-out 1s, transform 1s ease-out 0.5s;
      transform: translateX(0px);
    }
    .words {
      opacity: 1;
    }
  }
}
