footer.fancy
  .links
    a(href="https://www.wellsfargo.com/privacy-security/") PRIVACY, Cookies, Security &amp; Legal
    span &nbsp; | &nbsp;
    a(href="https://retailservices.wellsfargo.com/wfha_veterinarians.html") Home
    span &nbsp; | &nbsp;
    a(href="https://www.wellsfargo.com/about/") Wells Fargo &amp; Company
  p.
    © 2000 – 2018 Wells Fargo Retail Services. All rights reserved.
  p.
    Wells Fargo Retail Services is a division of Wells Fargo Bank, N.A.
