blockquote.tooth
  div.chart
    include ./chart.svg

  div.serif
    p.enlarge.
      #[span.number 20]#[span.symbol %] #[br]
      of your dental patients could <br>benefit from patient financing.*
    p.enlarge: b.
      Do they know it’s an option?
    p: small.
      * #[i Dentists: Is your third-party financing working for <br>your practice?]
      — DentistryIQ.com, May 2018
