/* numeral.scss */

.linkedin {
  .circle {
    border-radius: 100%;
    display: inline-block;
    height: 1.3em;
    line-height: 1.2;
    text-align: center;
    width: 1.3em;
    .msie & {
      line-height: 1.1;
    }
  }

  span.numeral {
    @extend .circle;
    border: 0.1em solid $light;
    color: $grayer;
    font-family: $serif;
    font-weight: 600;
  }

  ul.numeral {
    list-style: none;
    padding: 0;

    span.numeral {
      font-size: 1.5em;
      &:hover {
        background-color: $grayest;
        border-color: $grayest;
        color: white;
      }
    }
  }

  h3 {
    margin-top: 0;
    position: relative;

    span.numeral {
      font-size: 2.5rem;
      left: -5rem;
      position: absolute;

      @media (min-width: 0) and (max-width: $break) {
        float: left;
        font-size: 2.2rem;
        position: static;
        margin-left: -0.5rem;
        margin-right: 0.5rem;
      }
    }
  }
}
